<% @users.each do |user|%>
<ul> 
  
  <li>
    <%= user.username%>
    <%# <% if !user.requested?(current_user.id) %>
      <%= puts 'button'%>
    <%# <%else %>
    <%= form_with url: friends_requests_path, data: { controller: "button" } , method: :post do |f|%>
        <%= hidden_field_tag 'request[request_receiver_id]', user.id %>
        <%= hidden_field_tag 'request[request_sender_id]', current_user.id %>
        <%= f.submit 'Add friend', class:'btn btn-primary', data:{action:'click->button#change',button_target:'btn'}%>
        <%end%>
<%# <%end%>
  </li>
</ul>

<%end%>