
<% if current_user.id == params[:id].to_i%>
  <%= link_to 'Edit', edit_user_path(params[:id])%>
<%end%>

<div id="personal-info">
  <%= image_tag(@user.avatar.attached? ? @user.avatar : @user.avatar_url)%>
  <%= "#{@user.username} page "%>
  <%= "Publications: #{@posts.count}"%>
  <%= "Friends: #{@friends}"%>
</div>
<div class='feed'>
  <%@posts.each_with_index do |post,index|%>
   <%= render '/post', post: post%>
    <%end%>
  </div>
