<div class='feed'>
  <%= link_to 'New post', new_post_path%>
  <%current_user.relative_posts.each do |post|%>
  
    <div id='post'>
      <p><%= post.user.username%></p>
      <p><%= 'Place for content'%></p>
      <p><%= post.body%></p>
      <p><%= 'Likes and comments'%></p>
      <div id='count'>
      Likes: <%= post.likes.count %>        
      </div> 
      <%= button_to '♥',likes_path('like' => {user_id:current_user.id,post_id:post.id})%>
    </div>
  <%end%>
</div>