<div class='comments-container-<%=post.id%>'>
  <div id='comments-section-<%=post.id%>'>
            <%post.comments.each_with_index do |com,i|%>
            <div class='comment'>
                <%="#{com.user.username.downcase}: #{com.body.downcase}"%>
            </div>

            <%end%>
            </div>
              <div id="comment-input-<%=post.id%>"> 
                <%= form_with model: [post, post.comments.build], method: :post do |f| %>
                  <%= f.text_field :body, placeholder: 'Your comment...' %>
                  <%= f.text_field :user_id, value:current_user.id, hidden: true %>
                  <%= f.submit 'Create a comment' %>
                <%end%>
              </div>
          </div>