 <div class='post border-bottom'>
       <% if post.image.attached?%>
          <%= image_tag(post.image.representation(resize_to_limit: [350, 350]).processed)  %>
      <%end%>
      <p><%= post.body%></p>
       <div id='count-<%=post.id%>'> <%="Likes: #{ post.likes.count}" %>  </div>
      <%= render "/button_like", post: post%>
    <%= render "/comment_section", post: post%>
  </div>