 <div class='post border-bottom'>
        <div class="post-user-info">
          <%=render '/avatar', user: post.user, avatar:'avatar-post'%>
            <div><%= post.user.username%></div>
            </div>
       <% if post.image.attached?%>
          <%= image_tag(post.image.representation(resize_to_limit: [350, 350]).processed)  %>
      <%end%>
       <div class="button-count">
               <%= render "/button_like", post: post%>
         <div id='count-<%=post.id%>'> <%="#{ post.likes.count}" %>  </div>
       </div>
      <p><%= post.body%></p>  
    <%= render "/comment_section", post: post%>
  </div>